<div class="card mb-4" style="max-width: 800px;">
    <div class="row g-5">
        <div class="col-md-8">
            <img src="~/Image/calzado-de-tenis-para-cancha-dura-court-air-zoom-gp-turbo-naomi-osaka-t9Fkjp.jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-4">
            <div class="card-body">
                <h5 class="card-title">Información de Página</h5>
                <p class="card-text">Es un inventario, el cual busca un mejor manejo sobre la información</p>
                <p class="card-text">de como controlar la información de los productos, proveedores y el manejo de las entradas y salidas del mismo.</p>
                <p class="card-text"><small class="text-muted">-Bodega de Calzados</small></p>
            </div>
        </div>
    </div>
</div>
