@{
    ViewBag.Title = "Contact";
}
<h3> Contacto</h3>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Image/Capture.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Karla Ballestero</h5>
                <p class="card-text">Estudiante de la Universidad Tecnica Nacional</p>
                <p class="card-text"><small class="text-muted">Creadora de Bodega de Calzado</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Image/83c44714-3410-42a3-91da-64313993d1ec (1).jpg" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Kevin Paniagua</h5>
                <p class="card-text">Estudiante de la Universidad Tecnica Nacional</p>
                <p class="card-text"><small class="text-muted">Creador de Bodega de Calzado</small></p>
            </div>
        </div>
    </div>
</div>