@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/Image/calzado-air-force-1-mid-07-lv8-f6tpXL.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Nike Air Force 1</h5>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/Image/calzado-de-carreras-de-sendero-pegasus-trail-3-kXQ1np.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">Pegasus Trail 3</h5>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/Image/calzado-de-tenis-para-cancha-dura-court-vapor-lite-nJJ04B.jpg" class="card-img col-md-10" alt="...">
                    <h5 class="card-title">Vapor lite</h5>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <img src="~/Image/calzado-de-básquetbol-kd-trey-5-8-fVJsxl.jpg" class="card-img-top" alt="...">
                    <h5 class="card-title">KD Trey 5 VIII</h5>
                    <a href="#" class="btn btn-primary">Ver Producto</a>
                </div>
            </div>
        </div>
    </div><div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="~/Image/calzado-de-tenis-para-cancha-dura-court-air-zoom-gp-turbo-naomi-osaka-t9Fkjp.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Court Air Zoom</h5>
                <a href="#" class="btn btn-primary">Ver Producto</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <img src="~/Image/calzado-de-running-de-carretera-air-zoom-pegasus-38-premium-WmLcqH.jpg" class="card-img-top" alt="...">
                <h5 class="card-title">Running Pegasus</h5>
                <a href="#" class="btn btn-primary">Ver Producto</a>
            </div>
        </div>
    </div>
</div>
</div>
    <footer class="card-footer mt-auto py-3">
        <hr />
        <div class="container">
            <p>
                &copy; @DateTime.Now.Year = Calzado
            </p>
        </div>
    </footer>
